@font-face {
	font-family: 'malaga regular';
	src: url('../assets/fonts/Malaga Regular.ttf');
}

$font-open-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
  margin-bottom: 50px;
}

.background-logo {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../assets/imagens/imagem-oficina.png');
  background-repeat: no-repeat;
  height: 900px;
}

.contacts {
  list-style: none;
  margin: 0px;
  color: white;
  display: flex;
  font-size: smaller;
  flex-direction: row;
  flex-wrap: wrap;
  padding: {
    top: 10px;
    right: 50px;
    bottom: 10px;
    left: 50px;
  }
  background-color: darkblue;
  justify-content: space-evenly;
  border-bottom: 1px solid white;

  a {
    color: white;
    font-family: $font-open-sans;
  }
}

.main-logo {
	margin-top: 100px;
	color: white;
	font-size: 80px;
	font-family: 'malaga regular';
}

.first-section {
  background-color: darkblue;
  padding: 50px;
  color: white;
  margin: {
    top: 250px;
    bottom: 50px;
    left: auto;
    right: auto;
  }
}

section {
  margin: {
    top: 250px;
    bottom: 200px;
    left: auto;
    right: auto;
  }
}

.background-box {
	background-color: darkblue;
	color: white;
	padding: 30px;
	margin-top: 20px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
}

.footer {
  p {
    text-shadow: 1px 1px 2px black;
  }

  strong {
    text-shadow: 1px 1px 2px black;
  }

  a {
    text-shadow: 1px 1px 2px black;
  }

	background-color: blue;
	color: white;
	padding: 50px;
}

.navbar {
	background-color: blue;
  color: white;

  li a {
    text-shadow: 1px 1px 2px black;
    color: white;
  }
}

.navbar-toggler {
	border: 2px solid snow;
	border-radius: 10px;
}

.menu-itens {
  ul {
    margin: {
      left: 10px;
      top: 5px;
      right: 5px;
      bottom: 5px;
    }
  }

  li {
    border-radius: 5px;
    font-family: $font-open-sans;
    margin-right: 1px;
  }

  ul li a:hover {
    text-shadow: 0px 0px 5px white;
    transition: 0.5s;
  }
}

.title {
	margin-right: 30px;
	font-family: 'malaga regular';
  border-radius: 10px;

  a {
    color: white;
    font-size: 30px;
  }

  a:hover {
    text-decoration: none;
  }
}

.logo-cars {
  	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    margin-left: -50px;
    .logo-car {
      width: 200px;
      margin: {
        top: 20px;
        bottom: 70px;
        left: 50px;
        right: 50px;
      }
    }
  }

.contact {
  list-style: none;
  margin-bottom: 20px;

  .link-media {
    margin-top: 5px;
    margin-left: 5px;
    color: white;

    .icon-media {
      width: 40px;
      margin-bottom: 10px;
    }
  }

  a {
    color: white;
    word-break: break-all;
  }

  a:hover {
    color: white;
  }
}

.address {
  list-style: none;
}

.separator {
	border: 1px solid white;
}

.list-group-services {
  margin-bottom: 20px;

  li {
    color: white;
    padding: 3px;
    border: 2px solid white;
    background-color: darkblue;
    padding-left: 15px;
  }
}
